doctype html
html(lang="en-US", ng-app="exitInterview")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Exit Interview
    link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="_styles/main.css")
  body
    .row
      include partials/header

    .row
      block content

    include partials/scripts
